{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>404 Error</title>
</head>
<body>

    <h1 class="text-center mt-5">404 Not Found !</h1>
    <p class="text-center">This page does'nt exists. You can go back to the homepage.</p>
    <center><a href="http://127.0.0.1:8000/"><button class="btn btn-primary">Come back to home page</button></a></center>
    
</body>
</html>