{% extends '../base.html' %} {% load static %}

    <title>{% block title %} Panel {% endblock %}</title>
    {% block content %}

    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar-menu pt-3">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline">Resume Builder</span>
            </a>
            <ul
              class="nav nav-pills flex-column align-items-center align-items-sm-start" style="margin-left: -10px;"
              id="menu"
            >
                <ul
                  class="collapse show nav flex-column"
                  id="submenu1"
                  data-bs-parent="#menu"
                >
                <li class="w-100">
                    <a href="#" class="nav-link px-0">
                      <button class="btn sidebar-button">Panel</button>
                    </a>
                  </li>
                  <li class="w-100">
                    <a href="#" class="nav-link px-0">
                      <button class="btn sidebar-button">Change Password</button>
                    </a>
                  </li>
                  <li>
                    <form action="http://127.0.0.1:8000/account/logout/" method="post" class="mt-2">
                        {% csrf_token %}
                      <button class="btn sidebar-button" type="submit">Log Out</button>
                    </form>
                  </li>
                  <li>
                    <form action="http://127.0.0.1:8000/account/delete-account/" method="post" class="mt-2">
                        {% csrf_token %}
                      <button class="btn sidebar-button" type="submit">Delete Account</button>
                    </form>
                  </li>
                </ul>
              </li>
              
            <hr />
          </div>
        </div>
        <div class="col py-3">
            <h1 class="text-left ms-3 mt-3">My Resumes</h1>

            <div class="resumes d-flex flex-column gap-4 mt-4 ms-3">
                {% for resume in resumes.all %}
                    <div class="resume d-flex flex-column gap-1 align-items-center pt-2">
                        <a href="http://127.0.0.1:8000/resume/access/{{resume.access_id}}"><h5>{{resume.full_name}} | {{resume.job_title}}</h5></a>
                        <p>{{resume.created_at}}</p>
                        <span class="d-flex flex-row gap-3">
                            <a href="http://127.0.0.1:8000/resume/delete_resume/{{resume.access_id}}"><button class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-trash-can h-10" style="color: #fff;"></i>
                            </button></a>
                            <a href="http://127.0.0.1:8000/resume/edit_resume/{{resume.access_id}}"><button class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-pencil" style="color: #fff;"></i>
                            </button></a>
                            <button class="btn btn-success btn-sm" data-title="{{resume.full_name}} | {{resume.job_title}}" data-name="{{resume.full_name}}" data-access="{{resume.access_id}}" onclick="shareResume(this)">
                                <i class="fa-solid fa-share" style="color: #fff;"></i>
                            </button>
                        </span>
                    </div>
                {% endfor %}

                <a href="http://127.0.0.1:8000/resume/create_resume"><button class="btn create-resume-btn">Create Resume</button></a>
            </div>

        </div>
      </div>
    </div>

    {% endblock %}
