@import "_colors.scss";
@import "index.scss";

body{
    background-color: $dark_white !important;
}

.auth-form{
    background-color: $white;
    width: 410px;
    border-radius: 10px;
    padding-top: 20px;
    height: 445px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.auth-signup-form{
    height: 490px;
}

.auth-form-inputs{
    background-color: $sky;
    border-radius: 0px 0px 10px 10px;
}

.auth-form-inputs .auth-input{
    @include project-input;
}

.auth-form-inputs label{
    align-self: flex-start;
    margin-left: 50px;
}

.auth-form-inputs button{
    background-color: $blue !important;
    color: $white !important;
    transition: 0.6s;
    width: 327px;
    height: 38px;
}

.auth-form-inputs button:hover{
    background-color: $blue_hover;
}

a{
    text-decoration: none !important;
    color: $blue !important;
}

#show-hide-button{
    height: 25px;
}

.sidebar-button{
    width: 180px;
    height: 35px;
    background-color: $dark_white !important;
    color: $black !important;
    word-break: keep-all;
}

.sidebar-button:hover{
    color: $white !important;
    background-color: $blue_hover !important;
}


.resume{
    width: 430px;
    height: 128px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0;
    border-radius: 10px;
}